<section class="hero-coaching-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 mt-5">
         
            <div class="profile-rating-area">
              <div class="hero-profile-img left-side mt-5">
                <h5 class="header-bg">Trustpilot</h5>
                <img src="../../../assets/images/home.svg" alt="" style="width:80% ;">
              </div>
            </div>
        </div>
  
  
        <div class="col-lg-6 col-sm-6 mt-5">
            <div>
                <h5>إدارة علاقات العملاء </h5>
            </div>

             <div>
                 <h1>الحل الذكي لبناء تجارب عملاء قوية</h1>

            </div>
            <div>
                <p>
                    قم بربط فرق المبيعات والتسويق في مكان واحد لإحداث فرق فيأعمالك وجذب المزيد من العملاء المحتملين ثم تحويلهمإلى صفقات ناجحة وتحقيق عائد على الاستثمار أفضل
                </p>
            </div>

            <button class="btn btn-primary">
                ابدأ  الآن - مجانا
            </button>
               
              
            </div>
         

      </div>
  

    </div>
  </section>

