::-webkit-scrollbar {
    width: 6px
    }
    ::-webkit-scrollbar-track {
    background: #f1f1f1
    }
    ::-webkit-scrollbar-thumb {
    background: #888
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #555
    }
    .nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #fff !important;
    color: #9a1550 !important;
    border-bottom: 4px solid #9a1550 !important
    }
    .nav-fill .nav-item .nav-link,
    .nav-justified .nav-item .nav-link {
    width: 100%;
    color: #000
    }
    .nav-tabs .nav-link {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important
    }
    .nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #60D0FF;
    color: #fff;
    font-weight: 600
    }
    .nav-link {
    height: 77px;
    font-size: 13px;
    background-color: #fff
    }
    .nav-link:hover {
    border: none
    }
    .nav-link:focus {
    outline: none
    }
    .tab-pane {
    height: 300px
    }
    .form-control {
    height: 45px;
    position: relative
    }
    .form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #9a1550
    }
    .flight-where-from:after {
    position: absolute;
    content: '23';
    width: 20px;
    height: 20px;
    border-radius: 50%
    }
    .custom-button {
    height: 45px;
    background-color: #9a1550;
    border: none;
    color: #fff
    }
    .custom-button:hover,
    .custom-button:focus {
    background-color: #9a1550;
    box-shadow: none;
    outline: none
    }
    .scroll-y {
    overflow-y: scroll;
    height: 300px
    }

    .botpic{
        margin-top: -50px;
         margin-left: 5px; 

      
    }

    .progress{
        height: 400px;
        width: 400px;

    }

    img {
        max-width: 100%;
        max-height: 100%;
       }

       .tick-icon {
        position: relative;
      }
      .tick-icon::after {
        --size: 10px;
        content: '\2713';
        position: absolute;
        top: 18%;
        /* left: -5%; */
        text-align: center;
        border-radius: 50%;
        background-color: #1E46D7;
;
        font-size: var(--size);
        --dimension: calc(1.5 * var(--size));
        width: var(--dimension);
        height: var(--dimension);
        color: #ffffff;
      }
     
      .toppic{
          margin-top: 20px ;
          padding-top: 20px;
      }
    